// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.t
{
	
	top: 1700;
	left: 200;
	position: absolute;

}
.t1
{
	
	top: 1700;
	left: 580;
	position: absolute;
}
.t2
{
	
	top: 1700;
	left: 970;
	position: absolute;
}

.d
{
	top: 1600;
	left: 570;
	position: absolute;

}
.indexline
{
top: 220;
left: 740;
position: absolute;

}

.yes
{	

top: 1100;
left: 570;
position: absolute;

}
.f
{	

top: 165;
left: 460;
position: absolute;

}
.image
{	
top: 375;
left: 250;
position: absolute;
}
.s2{

  top: 21;
  right: 100;
  position: absolute;
  }
  .s{

  top: 21;
   right: 500;
  position: absolute;
  }
  .s0{

  top: 21;
  right: 400;
  position: absolute;
  }
  .s1{

  top: 21;
  right: 300;
  position: absolute;
  }
    .s3{

  top: 21;
  right: 200;
  position: absolute;
  }