// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new
{	

top: 130;
left: 840;
position: absolute;

}

.i1
{	

top: 14;
right:40;
position: absolute;

}
